<app-navbar></app-navbar>
<div class="container-grid">
    <section class="card">
        <div class="card-img">
            <div class="img-body-lk"><img src="../../../assets/images/linkedinlogo.png" alt="Portfólio 1" title="Portfólio 1"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-lk">
                Linkedin
            </h3>
            <p>
                {{"Link para acessar meu Linkedin." | translate}}
            </p>
        </div>

        <div class="card-button">
            <a href="https://www.linkedin.com/in/igorantonio22/" target="_blank">{{"Acessar Linkedin" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div class="img-body-wp"><img src="../../../assets/images/whatsapplogo.jpg" alt="Portfólio 2" title="Portfólio 2"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-wp">
                WhatsApp
            </h3>
            <p class="p-angular">
                {{"Link para entrar em contato pelo WhatsApp." | translate}}
             </p>
        </div>

        <div class="card-button">
            <a href="https://api.whatsapp.com/send?phone=5531996651842" target="_blank">{{"Iniciar Chat" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div class="img-body-gm"><img src="../../../assets/images/gmaillogo.png" alt="Portfólio 3" title="Portfólio 3"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-gm">
                Email
            </h3>
            <p class="p-email">
               {{"Email para contato: igorantonio 052000@gmail.com" | translate}}
            </p>
        </div>

        <div class="card-button">
            <a href="mailto:igorantonio052000@gmail.com" target="_blank">{{"Encaminhar Email" | translate}}</a>
        </div>
    </section>
</div>
<app-footer></app-footer>