<div class="container">
    <div class="madeby">
      Made by ... <br> 
      <a class="name" href="https://github.com/IgorAntonio22" target="_blank">Igor Antonio Almeida Santos</a>
    </div>
    <div>
        <div class="tecnologies">
            Technologies Used
        </div>
      <div class="flex">
        <fa-icon [icon]="Angular" alt="Angular"></fa-icon>
        <fa-icon [icon]="Javascript" alt="Javascript"></fa-icon>
        <fa-icon [icon]="Html" alt="Html"></fa-icon>
        <fa-icon [icon]="Css" alt="Css"></fa-icon>
      </div>
    </div>
  </div>
