<app-navbar></app-navbar>
<div class="container-grid">
    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 1" title="Exercício 1"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 1" | translate}}
            </p>
            <p>
            {{"-> Crie um código que receba 3 valores do comprimento de um triângulo e depois mostre um alert informando se o triângulo é equilátero, isósceles ou escaleno."| translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio1">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 2" title="Exercício 2"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 2" | translate}}
            </p>
            <p>
            {{"-> Faça um script que leia três números inteiros e mostre o maior deles." | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio2">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 3" title="Exercício 3"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 3" | translate}}
            </p>
            <p>
            {{"-> Crie duas variáveis e peça para que o usuário digite dois números inteiros pelo prompt. Após receber os valores nas variáveis, inverta os valores dentro das variáveis, ou seja, o valor da variável x vai para a variável y e o valor da variável y vai para a variável x. Mostre o antes das variáveis e seu depois." | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio3">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>

    <section class="card">
    <div class="card-img">
        <div><img src="../../../assets/images/javascript1.png" alt="Exercício 4" title="Exercício 4"></div>
    </div>

    <div class="card-body">
        <p>
        {{"Exercício 4" | translate}}
        </p>
        <p>
            {{"-> Crie um programa que pergunta quantos números o usuário deseja digitar (tanto inteiro quanto decimal) e receba os números e armazene esses números em um array e depois mostre a soma total deles, a média deles, mostre cada valor em uma potência de 2 e faça a raíz quadrada e cúbica de um." | translate}}
            </p>
    </div>

    <div class="card-button">
        <a routerLink="/exerciciosJS/exercicio4">{{"Iniciar Código" | translate}}</a>
    </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 5" title="Exercício 5"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 5" | translate}}
            </p>
            <p>
                {{"-> Peça ao usuário digitar algum texto no pelo prompt e depois mostre esse texto com todas as letras maiúsculas, com todas as letras minúsculas e depois escreva no console letra por letra do texto que o usuário digitou. (Utilize o método split para fazer esse último)." | translate}}
                </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio5">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 6" title="Exercício 6"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 6" | translate}}
            </p>
            <p>
                {{"-> Peça ao usuário para digitar um número binário e o converta para decimal." | translate}}
                </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio6">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 7" title="Exercício 7"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 7" | translate}}
            </p>
            <p>
                {{"-> Crie um objeto 'Usuário' com as propriedades que você desejar. Depois, mostre uma mensagem na tela perguntando quantos usuários  devem ser salvos. Após isso, peça todos os dados necessários para seu objeto usuário e depois o salve em um array. Quando todos os objetos Usuários forem salvos, mostre o valor de cada propriedade do usuário na tela do Browser." | translate}}
                </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio7">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>


    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/javascript1.png" alt="Exercício 8" title="Exercício 8"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Exercício 8" | translate}}
            </p>
            <p>
                {{"-> Crie um site com um botão e uma imagem de uma lâmpada apagada. Quando se clicar no botão e a imagem for uma lâmpada apagada, você trocará para a imagem de uma lâmpada acesa. Quando se clicar no botão e a imagem for uma lâmpada acesa, você trocará para a imagem de uma lâmpada apagada." | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS/exercicio8">{{"Iniciar Código" | translate}}</a>
        </div>
    </section>
</div>