<app-navbar></app-navbar>
<div class="body" #body>
    <div id="div1">
        <img src="../../../assets/images/lampada-acesa-png.png" alt="lampada-acesa" class="lampada2" class="tamanho1" #lampada2>
        <img src="../../../assets/images/lampada-apagada-png.png" alt="lampada-apagada" class="lampada1" #lampada1>
    </div>

    <button type="button" class="toggle" #toggle1>Acender/Desligar</button>
    <br><br><br><br>
    <div class="print8">
        <div class="img-print"><img src="../../../assets/images/exercicio8png.png" alt="Exercício 8" title="Exercício 8"></div>
    </div>
</div>