<section class="wrapper">
    <h1 mat-dialog-title> {{user == null ?'Procurando usuário: ' + username :  username}} </h1>
    <div mat-dialog-content class="content">
        <mat-progress-spinner 
        color="accent"
        mode="indeterminate"
        *ngIf="user == null; else content"
        ></mat-progress-spinner> <!-- Ele vai ficar rodando caso seja nulo (spinner), caso encontre, vai executar o ng template abaixo
        que serve como else do if. -->
        <ng-template #content>
            <figure class="imagem">
                <img [src]="user.avatar_url" alt="Icone">
            </figure>
            <div class="user">
            <p><b>Usuário: </b> <a [href]="user.html_url" target="_blank">{{user.login}}</a></p>
            <p>Nome: {{ user.name}} </p>  
            <p>Biografia: {{user.bio}} </p>
            <p>Localização: {{user.location}} </p>
            <p>Seguidores: {{user.followers}} </p>
            <p>Seguindo: {{user.following}} </p>
            </div>
            <h2>Repositórios</h2>
            <mat-card class="card-repository" *ngFor="let item of repository">
            <p>Repositório: <a [href]="item?.html_url">{{item?.name}}</a></p>
            <p>Descrição: {{item?.description}} </p>
            <p>Quantidade de forks: {{item?.forks_count}}</p>
            <p>Quantidade de estrelas: {{item?.stargazers_count}} </p>    
            </mat-card>
        </ng-template>
    </div>
</section>



