<app-navbar></app-navbar>
<div class="container-grid">
    <section class="card">
        <div class="card-img">
            <div class="img-body-js"><img src="../../../assets/images/javascript.png" alt="Portfólio 1" title="Portfólio 1"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-js">
               {{"Exercícios JavaScript" | translate}}
            </h3>
            <p>
               {{"Alguns exercícios desenvolvidos utilizando-se da tecnologia JS" | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosJS">{{"Saiba mais" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div class="img-body-an"><img src="../../../assets/images/angular.png" alt="Portfólio 2" title="Portfólio 2"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-an">
                {{"Exercícios Angular" | translate}}
            </h3>
            <p class="p-angular">
                {{"Alguns exercícios desenvolvidos utilizando-se da tecnologia Angular" | translate}}
             </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN">{{"Saiba mais" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div class="img-body-pr"><img src="../../../assets/images/projetos.jpg" alt="Portfólio 3" title="Portfólio 3"></div>
        </div>

        <div class="card-body">
            <h3 class="h3-pr">
                {{"Projetos" | translate}}            
            </h3>
            <p>
                {{"Projetos realizados em grupo e individualmente." | translate}}
             </p>
        </div>

        <div class="card-button">
            <a routerLink="/projetos">{{"Saiba mais" | translate}}</a>
        </div>
    </section>
</div>
<app-footer></app-footer>

