<app-navbar></app-navbar>
<div class="container-grid">
    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular1.png" alt="Exercício 1" title="Exercício 1"></div>
        </div>

        <div class="card-body">
            <p>
                {{"Exercício 1" | translate}}
            </p>
            <p>
                {{"Crie componentes para tipo de input do HTML (text, number, date, password, etc...) e estilize-os da forma que desejar." | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN/exercicio1">{{"Acessar Exercício" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular1.png" alt="Exercício 2" title="Exercício 2"></div>
        </div>

        <div class="card-body">
            <p>
                {{"Exercício 2" | translate}}
            </p>
            <p>
                {{"Utilizando os conceitos de data binding, crie um site contador. Esse site deve possuir dois botões: Um para incrementar e outro decrementar. Entre esse botões, deverá haver um contador começará do zero e será controlado pelos botões criados anteriormente. Quando clicar no botão de incrementar, será adicionando +1 ao contador, ao clicar no de decrementar, será removido -1 do contador. OBS: A utilização do Angular Material é obrigatória!!!" | translate}}
                
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN/exercicio2">{{"Acessar Exercício" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular1.png" alt="Exercício 3" title="Exercício 3"></div>
        </div>

        <div class="card-body">
            <p>
                {{"Exercício 3" | translate}}
            </p>
            <p>
            {{"Crie 3 cards. Informe o conteúdo dos cards (título, preço, conteúdo e cor do card) utilizando o @Input. Ao clicar no botão do componente, emita um evento personalizado para o outro componente, mostrando a mensagem pacote comprado. OBS: Utilizem o Angular Material. OBS 2: Para mostrar a mensagem, utilizem o componente MatSnackBar, do Angular Material" | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN/exercicio3">{{"Acessar Exercício" | translate}}</a>
        </div>
    </section>

    <section class="card">
    <div class="card-img">
        <div><img src="../../../assets/images/angular1.png" alt="Exercício 4" title="Exercício 4"></div>
    </div>

    <div class="card-body">
        <p>
            {{"Exercício 4" | translate}}
        </p>
        <p>

            {{"Crie um ToDo List com Angular, salve as tarefas no Local Storage do navegador e também recupere as tarefas do localStorage para mostrá-las no seu ToDo. Crie componentes menores que, no final, se juntarão para criar a tela final do ToDo List (Por exemplo, todo-input, todo-item, todo-container, ou o que você achar necessário). Utilize diretivas para fazer estilização menores (Por exemplo, estilização de botões, inputs, etc.). Se necessário, ao clicar nos botões de salvar/deletar do seu ToDo, emita um evento personalizado informando que um ToDo deve ser salvo/deletado." | translate}}
        </p>
    </div>

    <div class="card-button">
        <a routerLink="/exerciciosAN/exercicio4">{{"Acessar Exercício" | translate}}</a>
    </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular1.png" alt="Exercício 5" title="Exercício 5"></div>
        </div>

        <div class="card-body">
            <p>
                {{"Exercício 5" | translate}}
            </p>
            <p>
                {{"(Reactive Forms) Crie dois formulários com Angular, um Utilizando o Template Driven Forms e outro utilizando o Reactive Forms. Faça a estilização que você deseja em cada um dos formulários. Os dois formulários devem possuir os campos: nome, sobrenome, username, cpf, telefone, endereço, complemento, dois campos para senha e um botão para enviar o formulário. Nesses campos de senha, você deve fazer uma validação para informar se o valor dos dois campos são iguais. Também valide os outros campos da forma que desejar. Se tudo estiver certo nos eu formulário, ao clicar no botão de enviar, você deve mostrar uma caixa de mensagem mostrando os dados que foram adicionados. OBS: Caso queira, crie uma lógica para adicionar mais números de telefone ao seu formulário. OBS2: Utilize o Angular Material para mostrar a caixa de mensagem com os dados informados, utilize o Dialog, do Angular Material" | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN/exercicio5">{{"Acessar Exercício" | translate}}</a>
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular1.png" alt="Exercício 6" title="Exercício 6"></div>
        </div>

        <div class="card-body">
            <p>
                {{"Exercício 6" | translate}}
            </p>
            <p>
                {{"(Template Driven Forms) Crie dois formulários com Angular, um Utilizando o Template Driven Forms e outro utilizando o Reactive Forms. Faça a estilização que você deseja em cada um dos formulários. Os dois formulários devem possuir os campos: nome, sobrenome, username, cpf, telefone, endereço, complemento, dois campos para senha e um botão para enviar o formulário. Nesses campos de senha, você deve fazer uma validação para informar se o valor dos dois campos são iguais. Também valide os outros campos da forma que desejar. Se tudo estiver certo nos eu formulário, ao clicar no botão de enviar, você deve mostrar uma caixa de mensagem mostrando os dados que foram adicionados. OBS: Caso queira, crie uma lógica para adicionar mais números de telefone ao seu formulário. OBS2: Utilize o Angular Material para mostrar a caixa de mensagem com os dados informados, utilize o Dialog, do Angular Material" | translate}}
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/exerciciosAN/exercicio6">{{"Acessar Exercício" | translate}}</a>
        </div>
    </section>

