<app-navbar></app-navbar> 
<main class="container">
    <article class="super-card">
        <section class="card-img-igor">
            <img src="../../../assets/images/igorantonio.jpg" alt="Foto do Igor Antonio" title="Igor Antonio">
        </section>
        <section class="card-text">
            <p>{{'Meu nome é Igor Antonio Almeida Santos, sou estudante de Administração (Bacharelado) na Universidade Salgado de Oliveira, estudante de Letras - Inglês (Bacharelado) na Universidade Federal de Minas Gerais e Desenvolvedor Full Stack Java Junior.' |translate}}</p>
            <p>{{'Atuo na área de tecnologia desde fevereiro de 2022, onde conquistei uma bolsa integral na Escola de Programação Soulcode para o curso de Java Full Stack Developer onde estudamos as seguintes tecnologias:' |translate}}</p>
            <br>
            <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Java</li>
            <li>Spring</li>
            <li>MySQL</li>
            <li>FireBase</li>
            </ul>
        </section>
    </article>    
</main>
<app-footer></app-footer>