<div class="div2">
    <mat-card-title class="title">{{ titulo }}</mat-card-title>
    <mat-card-subtitle class="subtitle"><p class="pcifrao">$</p>{{ subtitulo }}</mat-card-subtitle>
    <hr size="0.5" width="300px">
    <mat-card-content class="content">{{ conteudo }}</mat-card-content>
    <hr size="0.5" width="300px">
    <mat-card-content class="content">{{ conteudo1 }}</mat-card-content>
    <hr size="0.5" width="300px">
    <mat-card-content class="content">{{ conteudo2 }}</mat-card-content>
    <hr size="0.5" width="300px">
    <mat-card-actions><button (click)="emitirEvento()" mat-stroked-button class="btn">Learn More</button></mat-card-actions>
</div>
