<app-navbar></app-navbar>
<div class="container-grid">
    <section class="card">
        <div class="card-img">
            <div><img src="../../../assets/images/angular2.png" alt="Exercício 1" title="Exercício 1"></div>
        </div>

        <div class="card-body">
            <p>
            {{"Projeto 1" | translate}}
            </p>
            <p>
            {{"Fazendo requisições HTTP no Angular, crie uma aplicação que faça pesquisa de usuários do Github utilizando a api oficial do github. Faça um campo para pesquisar o usuário pelo seu username e um botão para fazer a pesquisa. Ao clicar, ele mostrará um Dialog do Material com os dados do usuário, como foto de perfil, descrição, quantidade de seguidores, quantas pessoas o usuário está seguindo e qualquer outro dado que você desejar. Também recupere os dados dos repositórios e os liste também no Dialog, logo abaixo dos dados do usuário. De cada repositório, mostre o nome dele, a linguagem utilizada, quantidade de estrelas e, ao clicar nas infos de um repo, você será redirecionado à página do repositório que você clicou." | translate}}   
            </p>
        </div>

        <div class="card-button">
            <a routerLink="/projetos/projeto1">{{"Acessar Projeto" | translate}}</a>
        </div>
    </section>

